.product-admin {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
}

.type_product {
    width: 80%;
    min-height: 80vh;
    // margin-top: 30px;
    margin-top: 110px;
}

button.btn.btn-danger.delete_type {
    margin-left: 20px;
}

.table_type {
    margin-top: 10px;
}

.type_product table {
    font-size: 20px;
}

.watch_type {
    margin-left: 10px;
}

.type_product thead tr th {
    font-size: 22px;
    text-align: center;
    vertical-align: top;
}

@media screen and (min-width: 768px)and(max-width: 1060px) {
    .type_product {
        width: 100%;
        min-height: 80vh;
    }
}

@media screen and (min-width: 960px)and(max-width: 1200px) {
    .type_product {
        width: 100%;
        min-height: 80vh;
    }
}

@media screen and (min-width: 480px)and(max-width: 950px) {}